<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Inter", sans-serif;
    }

    .formbold-mb-5 {
      margin-bottom: 20px;
    }

    .formbold-pt-3 {
      padding-top: 12px;
    }

    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }

    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      background: white;
    }

    .formbold-form-label {
      display: block;
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      margin-bottom: 12px;
    }

    .formbold-form-label-2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .formbold-form-input {
      width: 100%;
      padding: 12px 24px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      background: white;
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      outline: none;
      resize: none;
    }

    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold-btn {
      text-align: center;
      font-size: 16px;
      border-radius: 6px;
      padding: 14px 32px;
      border: none;
      font-weight: 600;
      background-color: #6a64f1;
      color: white;
      cursor: pointer;
    }

    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold--mx-3 {
      margin-left: -12px;
      margin-right: -12px;
    }

    .formbold-px-3 {
      padding-left: 12px;
      padding-right: 12px;
    }

    .flex {
      display: flex;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .w-full {
      width: 100%;
    }

    label {
      padding: auto;
      font-size: larger;
    }

    .formbold-file-input input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .formbold-file-input label {
      position: relative;
      border: 1px dashed #e0e0e0;
      border-radius: 6px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      text-align: center;
    }

    .formbold-drop-file {
      display: block;
      font-weight: 600;
      color: #07074d;
      font-size: 20px;
      margin-bottom: 8px;
    }

    .formbold-or {
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      display: block;
      margin-bottom: 8px;
    }

    .formbold-browse {
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      display: inline-block;
      padding: 8px 28px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
    }

    .formbold-file-list {
      border-radius: 6px;
      background: #f5f7fb;
      padding: 16px 32px;
    }

    .formbold-file-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .formbold-file-item button {
      color: #07074d;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .formbold-file-name {
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      padding-right: 12px;
    }

    .formbold-progress-bar {
      margin-top: 20px;
      position: relative;
      width: 100%;
      height: 6px;
      border-radius: 8px;
      background: #e2e5ef;
    }

    .formbold-progress {
      position: absolute;
      width: 75%;
      height: 100%;
      left: 0;
      top: 0;
      background: #6a64f1;
      border-radius: 8px;
    }

    img {
      width: 100px;
      height: 100px;
      padding: 20px;
    }

    @media (min-width: 540px) {
      .sm\:w-half {
        width: 50%;
      }
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {{!-- multiple image preview --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

  <div style="height: auto;padding-top: 150px;" class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form method="POST" action="/admin/add-category" enctype="multipart/form-data" id="add-category-form">
        <h4 style="text-align: center;">Add new Category</h4>
        <div class="formbold-mb-5">

          <label style="color: #262728;">Category Name</label>
          <span class="text-danger" id="category-name-error">{{this.message}}</span>
          <input type="text" name="category" id="category" placeholder="Enter your Category NAme"
            class="formbold-form-input" />
          <label style="color: #262728;">Offer</label>

          <input type="number" name="offer" id="offer" placeholder="offer of category" class="formbold-form-input" />
          <label style="color: #262728;">Description</label>
          <span class="text-danger" id="description-name-error"></span>
          <input type="text" name="description" id="description" placeholder="description of category"
            class="formbold-form-input" />
          <label for="">Image</label><br>
          <span class="text-danger" id="image-name-error"></span>

          <input type="file" id="gallery-photo-add" name="image" id="image">


          <img id='imagepreview1'>
        </div>
        <button style="width: auto;" type="submit" class="btn btn-secondary">Submit</button>
      </form>

    </div>
  </div>
  </div>

  </div>


  </div>
  </div>


</body>

</html>


<script>

  document.getElementById("add-category-form").addEventListener('submit', (e) => {
    var description = document.getElementById("description").value
    document.getElementById("description-name-error").innerHTML;
    if (description === '') {
      document.getElementById("description-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }
    else if (/^\s|\s$/.test(description)) {
      document.getElementById("description-name-error").innerHTML = "space are not allowed"
      e.preventDefault()
    }

    var category = document.getElementById("category").value
    document.getElementById("category-name-error").innerHTML;
    if (category === '') {
      document.getElementById("category-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }
     else if (/^\s|\s$/.test(category)) {
      document.getElementById("category-name-error").innerHTML = "space are not allowed"
      e.preventDefault()
    }
     var image = document.getElementById("image").value
    document.getElementById("image-name-error").innerHTML;
    if (image === '') {
      document.getElementById("image-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }
  })






  $(document).ready(function () {

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#imagepreview1').prop('src', e.target.result).show();
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#gallery-photo-add").change(function () {
      readURL(this);
      $('#imagepreview1').show();
    });

    $('#imagepreview1').click(function () {
      $('#gallery-photo-add').replaceWith($('#gallery-photo-add').clone(true));
      $('#imagepreview1').hide();
    });

  });
</script>