<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <header>

    <div class="logosec">
      <div class="logo">
        <h5>App Store</h5></div>
      {{!-- <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
        class="icn menuicn" id="menuicn" alt="menu-icon" onclick="menuicon()"> --}}
    </div>

    

   

  </header>
 
  <script src="/javascript.js"></script>
</body>
</html>