<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/otp.css">
 
</head>
<body>
    
      <div class="box1">
        <div style="padding-top: 10%;border: 1px;" class="title">
          
          <p class="msg" style="text-align: center;">Verification Failed</p>
         
          
        </div>
      </div>

      <div class="otp-input-fields">
        <p>Your otp verification failed. you have entered wrong otp...please select an option</p>
      </div>

      <div class="result">
        <p id="_otp" class="_notok">

          <a href="/user/resend-otp"><button class="btn btn-warning otp-btn">Resend</button></a>
        </p>
      </div>
    
</body>
</html>