<body>
    <link rel="stylesheet" href="/style.css">
    <link rel="javascript" href="/javascript.js">
    <form action="/user/login" method="post" id="login-form">
        <div style="width: auto;" class="container">
            <div class="left-section"></div>
            <div class="right-section">
                <div class="login-container">
                    <form class="login-form">
                        <h2 class="login-title"><i class="fas fa-user-circle"></i> Login</h2>


                        <div style="border: none;" class="form-control">
                            <i class="fas fa-user icon"></i>
                            <span style="color: red;">{{this.message}}</span>
                            <input style="width: 100%;" type="text" placeholder="Username" id="username"
                                name="username">
                        </div>
                        <span style="color: red;" id="username-error"></span>
                        <div style="border: none;" class="form-control">
                            <i class="fas fa-lock icon"></i>
                            <input type="password" placeholder="Password" id="password" name="password">
                        </div>
                        <span style="color: red;" id="password-error"></span>
                        <div class="remember-me">
                            <label for="rememberMe"><a style="text-decoration: none;"
                                    href="/user/forgotpassword">Forgott password</a></label> <br>

                        </div>


                        <button type="submit">Login</button>
                        <br>
                        <div style="text-align: center;">


                            <label for="rememberMe">Not a remember?. <a style="text-decoration: none;"
                                    href="/user/signup">Signup now</a></label>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </form>
</body>

</html>


<script>

    document.getElementById("login-form").addEventListener('submit', (e) => {
        var username = document.getElementById("username").value;
        document.getElementById("username-error").innerHTML;

        if (username === '') {
            document.getElementById("username-error").innerHTML = 'This field is required'
            e.preventDefault()
        }
        else if (/^\s|\s$/.test(username)) {
            document.getElementById("username-error").innerHTML = 'Space is not allowed'
            e.preventDefault()
        }
        else if (!/^[a-zA-Z0-9]+$/.test(username)) {
            document.getElementById('username-error').innerText = 'Username must contain only letters and numbers';
            e.preventDefault()
        }



        var password = document.getElementById("password").value
        document.getElementById("password-error").innerHTML;
        if (password === '') {
            document.getElementById("password-error").innerHTML = "This field is required"
            e.preventDefault()
        }
        else if (/\s/.test(password)) {
            document.getElementById('password-error').innerText = 'Password cannot contain spaces';
            e.preventDefault()
        }


    })
</script>












{{!--
{{!-- --}}