<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container {

            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border: none;

        }




        .card-title {
            font-weight: 300;
        }

        .btn {
            font-size: 13px;
        }

        .login-form {
            width: 320px;
            
        }

        .sign-up {
            text-align: center;
            padding: 20px 0 0;
        }

        span {
            font-size: 14px;
        }

        .submit-btn {
            margin-top: 20px;
        }
        .input{
            width: 100%;
        }
        span,h5,button,label{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
<br><br><br><br><br><h5 class="card-title" style="text-align: center;">Change password</h5><br>
    <div style="width: 250px;boxbox-shadow: 5px 5px 10px 0px rgba(32, 32, 32, 0.25);border: none;background-color: rgb(208, 222, 247);padding: 20px;" class="card login-form container">
        

        <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

        <div  class="card-text" "change-forgot-password">
            {{!-- <form action="/user/change-forgot-password" method="post" id=""></form> --}}
            <form method="post" action="/user/change-forgot-password" id="change-forgot-password">
                <div style="width: 100%;"  class="form-group">
                    <span style="color: red;">{{this.message}}</span>
                    <span style="color: red;" id="email-error"></span>
                    <label for="exampleInputEmail1">Email</label>
                    <i class="fa fa-email"></i>
                    <input type="email" name="email" class="form-control form-control-sm" id="email">
                </div>
                <div class="form-group">
                    <span style="color: red;" id="password-error"></span>
                    <label for="exampleInputEmail1">Your new password</label>
                    <input type="password" class="form-control form-control-sm" name="password" id="password">
                </div>
                <div class="form-group">
                    <span style="color: red;" id="confirm-password-error"></span>
                    <label for="exampleInputEmail1">Repeat password</label>
                    <input type="password" class="form-control form-control-sm" name="confirmpassword"
                        id="confirm-password">
                </div>
                <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
            </form>
        </div>
    </div>
<br><br><br><br>
</body>

</html>

<script>
    document.getElementById("change-forgot-password").addEventListener('submit', (e) => {
        var email = document.getElementById("email").value
        document.getElementById("email-error").innerHTML;
        if (email === '') {
            document.getElementById("email-error").innerHTML = "This field is required"
            e.preventDefault()
        }
        else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            document.getElementById('email-error').innerText = 'Invalid email address';
            preventDefault()
        }


        var password = document.getElementById("password").value
        document.getElementById("password-error").innerHTML;
        if (password === '') {
            document.getElementById("password-error").innerHTML = "This field is required"
            e.preventDefault()
        }
        else if (/\s/.test(password)) {
            document.getElementById('password-error').innerText = 'Password cannot contain spaces';
            e.preventDefault()
        }

        var confirm = document.getElementById("confirm-password").value
        document.getElementById("confirm-password-error").innerHTML;
        if (confirm === '') {
            document.getElementById("confirm-password-error").innerHTML = "This field is required"
            e.preventDefault()
        }
        else if (password != confirm) {
            document.getElementById('confirm-password-error').innerText = 'Password is not match';
            e.preventDefault()
        }


    })
</script>
